:root {
--IRIS:#4D5AE5;
--NAVY-BLUE:#2E2F42;
--WHITE:#FFF;
}
.logo {
   text-decoration: none;
   color: var(--NAVY-BLUE);
  font-family: Raleway;
}
.logo span {
 color: var(--IRIS);
 padding: 0;
}
.menu {
   list-style: none;
   color: var(--NAVY-BLUE);
   margin-left: 0;
   padding: 0;
   font-family: roboto;
}
.studio {
   color: var(--IRIS);
   font-family: raleway;
   font-weight: 800;
  text-decoration: none;
}
.submenu {
   color: var(--NAVY-BLUE);
   text-decoration: none;
   font-weight: 500;
}
.mail {
   color: var(--NAVY-BLUE);
   text-decoration: none;
   font-weight: 500;
   font-size: 16px;
}
.mail:hover {
   color: var(--IRIS);
}
.tel {
   color: var(--NAVY-BLUE);
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
}
.tel:hover {
   color: var(--IRIS);
}
.body {
   font-family: roboto sans-serif;
}
.box{
    width: 1440px;
   height: 104px;
   flex-shrink: 0;
   background-color: var(--NAVY-BLUE);
   font-family: roboto;
}
.heading {
   color: var(--WHITE);
   font-family: Roboto;
   font-size: 25px;
   text-align: center;
   font-style: normal;
   font-weight: 700;
}
.button {
   color: var(--WHITE);
   background-color: var(--IRIS);
   font-size: 12px;
   font-style: normal;
   font-family: roboto;  
}
.section1 {
   list-style: none;
   font-family: roboto;
   font-weight: 500;
   font-stretch: condensed;
   margin-left: 0;
   padding: 0;
}
h2 {
   text-align: center;
   width: 1440px;
   font-family: roboto;
   font-size: 36px;
   font-weight: 700;
}
.section2images {
   list-style: none;
   padding: 0;
}
.team-member {
   list-style: none;
   padding: 0;
   font-family: roboto;
   font-weight: 500;
}
.box-2 {
   width: 1440px;
   height: 104px;
   flex-shrink: 0;
   background-color: var(--NAVY-BLUE);
   font-family: roboto;
}
.logo2 {
   color: var(--WHITE);
   font-family: raleway;
   text-decoration: none;
}
.logo2 span {
   color: var(--IRIS);
}
.footer-para {
   color: var(--WHITE);
   font-weight: 400;
   font-family: roboto;
}