
:root {
--IRIS:#4D5AE5;
--NAVY-BLUE:#2E2F42;
--WHITE:#FFF;
}
.logo {
   text-decoration: none;
   color: var(--NAVY-BLUE);
  font-family: Raleway;
}
.logo span {
 color: var(--IRIS);
}
.menu {
   list-style: none;
   margin-left: 0;
}
.studio{
   color: var(--IRIS)
}
.mail{
   color: var(--NAVY-BLUE)
}

.box{
      width: 1128px;
      height: 104px;
      flex-shrink: 0;
      background-color: var(--NAVY-BLUE);
}
.heading {
   color: var(--WHITE);
   font-family: Roboto;
   font-size: 25px;
   text-align: center;
}
.button {
      font-size: 10px;
      color: var(--WHITE);
      background-color: var(--IRIS);
}